AWS_ACCESS_KEY_ID=""
AWS_ACCESS_KEY_SECRET=""

ECS_CLUSTER_NAME=""
ECS_TASK_DEFINITION=""
CONTAINER_NAME=""

SUBNET_ID_1=""
SUBNET_ID_2=""
SUBNET_ID_3=""

DATABASE_URL=""

JWT_SECRET=""
WEBHOOK_SECRET=""

BASE_DOMAIN=""
API_SERVER_HOST=""

CLERK_SECRET_KEY=""
CLERK_PUBLISHABLE_KEY=""